.jumbotron {
  padding: 0.5rem 0.5rem !important;
  .btn-default:hover {
    background-color: rgba(9, 30, 66, 0.13);
  }
  .card {
    margin-bottom: 0.5rem;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  }
}
