<div class="jumbotron">
  <div class="d-flex">
    <div class="flex-fill align-self-center">
      <p class="mb-0 font-weight-bold" *ngIf="list">{{ list.name }}</p>
    </div>
    <div class="flex-fill">
      <button type="button" class="btn btn-default float-right">
        <i class="fas fa-ellipsis-h"></i>
      </button>
    </div>
  </div>
  <div *ngFor="let card of cards; let i = index" class="card">
    <p class="mb-0 p-2">
      {{ card.name }}
      <!-- {{ card.description }} -->
      <i class="far fa-edit float-right mt-1"></i>
    </p>
  </div>
  <button type="button" class="btn btn-secondary btn-sm btn-block text-left" (click)="toggleCard()" *ngIf="!edited">
    <i class="fas fa-plus"></i>
    Add another card
  </button>
  <form *ngIf="edited">
    <div class="form-group mb-2">
      <input
        type="text"
        class="form-control form-control p-2"
        id="formGroupExampleInput"
        placeholder="Enter a title for this card…"
      />
    </div>
    <button type="button" class="btn btn-success btn-sm">Add Card</button>
    <button type="button" class="btn btn-sm float-right">
      <i class="fas fa-window-close" (click)="toggleCard()" *ngIf="edited"></i>
    </button>
  </form>
</div>
