<div class="login-container bg-light">
  <div class="login-box">
    <img [src]="'assets/angular.png'" class="logo" alt="image" />
    <!-- <div>
      <h6 class="d-inline-block">v{{ version }}</h6>
      <div class="d-inline-block ml-3" ngbDropdown>
        <button id="language-dropdown" class="btn btn-sm btn-secondary" ngbDropdownToggle>
          {{ currentLanguage }}
        </button>
        <div ngbDropdownMenu aria-labelledby="language-dropdown">
          <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
            {{ language }}
          </button>
        </div>
      </div> 
    </div> -->
    <div class="container">
      <div class="col-md-4 mt-3 mx-auto">
        <div class="card">
          <div class="card-body mb-0" *ngIf="message && message.class == 'success'">
            <app-alert [data]="message"></app-alert>
          </div>
          <div class="card-body" [hidden]="message && message.class == 'success'">
            <h4 class="text-center mb-3" translate>Reset Password</h4>
            <p class="text-center">Enter your email address below and we'll send you a link to reset your password.</p>
            <app-alert [data]="message"></app-alert>
            <form (ngSubmit)="forgot()" [formGroup]="resetForm" novalidate>
              <div class="form-group">
                <label class="d-block">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    autocomplete="email"
                    [placeholder]="'Email' | translate"
                  />
                  <span hidden translate>Email</span>
                  <small
                    [hidden]="resetForm.controls.email.valid || resetForm.controls.email.untouched"
                    class="text-danger"
                    translate
                  >
                    Email is required
                  </small>
                </label>
              </div>
              <button class="btn btn-danger w-100" type="submit" [disabled]="resetForm.invalid || isLoading">
                <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                <span translate>Reset Password</span>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-3 mx-auto text-center" [hidden]="message">
        <button type="button" class="btn btn-link text-danger" [routerLink]="['/register']">Register</button>
        <button type="button" class="btn btn-link text-danger" [routerLink]="['/login']">Login</button>
      </div>
    </div>
  </div>
</div>
