<div class="login-container bg-light">
  <div class="login-box">
    <!-- <div>
      <h6 class="d-inline-block">v{{ version }}</h6>
      <div class="d-inline-block ml-3" ngbDropdown>
        <button id="language-dropdown" class="btn btn-sm btn-secondary" ngbDropdownToggle>
          {{ currentLanguage }}
        </button>
        <div ngbDropdownMenu aria-labelledby="language-dropdown">
          <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
            {{ language }}
          </button>
        </div>
      </div>
    </div> -->
    <div class="container">
      <div class="col-md-4 mt-3 mx-auto">
        <div class="card">
          <div class="card-body" [hidden]="!message">
            <p class="mb-0">{{ message }}</p>
          </div>
          <div class="card-body" [hidden]="message">
            <h3 class="text-center" translate>Reset Password</h3>
            <p>Enter your email address below and we'll send you a link to reset your password.</p>
            <form (ngSubmit)="forgot()" [formGroup]="resetForm" novalidate>
              <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
                Email incorrect.
              </div>
              <div class="form-group">
                <label class="d-block">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    autocomplete="email"
                    [placeholder]="'Email' | translate"
                  />
                  <span hidden translate>Email</span>
                  <small
                    [hidden]="resetForm.controls.email.valid || resetForm.controls.email.untouched"
                    class="text-danger"
                    translate
                  >
                    Email is required
                  </small>
                </label>
              </div>
              <button class="btn btn-danger w-100" type="submit" [disabled]="resetForm.invalid || isLoading">
                <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                <span translate>Reset Password</span>
              </button>
            </form>
          </div>
          <div class="card-footer" [hidden]="message">
            <button type="button" class="btn btn-link" [routerLink]="['/register']">Register</button>
            <button type="button" class="btn btn-link" [routerLink]="['/login']">Forgot your password?</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
