.jumbotron {
  background: #f7f7f7;
  border: 1px solid #ececec;
  .list-title {
    cursor: pointer;
  }
  .dropdown-toggle::after {
    display: none;
    opacity: 0;
  }
  padding: 0.5rem 0.5rem !important;
  .btn-default:hover {
    background-color: rgba(9, 30, 66, 0.13);
  }
  .fa-ellipsis-h {
    color: #e4606d !important;
  }
  i {
    &:hover {
      cursor: pointer;
    }
  }
}
