.jumbotron {
  padding: 0.5rem 0.5rem !important;
  .btn-default:hover {
    background-color: rgba(9, 30, 66, 0.13);
  }
  .fa-ellipsis-h {
    color: #e4606d !important;
  }
  i {
    &:hover {
      cursor: pointer;
    }
  }
}
