<div class="jumbotron shadow">
  <div class="d-flex">
    <div class="flex-fill align-self-center">
      <p class="mb-0 font-weight-bold" *ngIf="list">{{ list.name }}</p>
    </div>
    <div class="flex-fill">
      <button type="button" class="btn btn-default float-right" (click)="deleteList(list.id)">
        <i class="fas fa-ellipsis-h"></i>
      </button>
    </div>
  </div>
  <app-card *ngFor="let card of cards; let i = index" [card]="card" [deleteCard]="deleteCard"></app-card>
  <button type="button" class="btn btn-outline-secondary btn-block text-left" (click)="toggleForm()" *ngIf="!form">
    <i class="fas fa-plus"></i>
    Add another card
  </button>
  <form *ngIf="form">
    <div class="form-group mb-2">
      <input
        type="text"
        #input
        class="form-control p-2 border-0"
        [(ngModel)]="cardName"
        name="cardName"
        placeholder="Enter a title for this card…"
      />
    </div>
    <button type="button" class="btn btn-success" (click)="addCard(list.id, cardName)">
      Add Card
    </button>
    <button class="btn btn-danger float-right" (click)="toggleForm()"><i class="fa fa-times"></i></button>
  </form>
</div>
