<div class="jumbotron" *ngIf="list">
  <div class="d-flex">
    <div class="flex-grow-1 align-self-center">
      <p class="mb-0 ml-1 font-weight-bold list-title" (click)="edit = !edit" *ngIf="!edit">{{ list.name }}</p>
      <div class="form-group mb-2" [hidden]="!edit">
        <input
          #listName
          type="text"
          class="form-control border-0"
          [(ngModel)]="list.name"
          (keyup.enter)="updateList(list.id, list.name, $event)"
        />
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-default float-right" (click)="delete(list.id)">
        <i class="fas fa-ellipsis-h"></i>
      </button>
    </div>
  </div>
  <app-card *ngFor="let card of cards; let i = index" [card]="card" [deleteCard]="deleteCard"></app-card>
  <app-add name="card" [id]="list.id" [create]="create"></app-add>
</div>
