@import "src/theme/theme-variables";

.container-fluid {
  padding-top: 60px;
}

.sub-header {
  background-color: #f7f7f7;
  margin-bottom: $spacer;
  border-bottom: 1px solid #ececec;
  .hidden {
    display: none !important;
  }
  h6 {
    cursor: pointer;
  }
}

.jumbotron {
  padding: 0.5rem 0.5rem !important;
  &:hover {
    cursor: pointer;
  }
}
