@import "src/theme/theme-variables";

.sub-header {
  background: #e4606d;
  margin-bottom: $spacer;
  .hidden {
    display: none !important;
  }
  h6 {
    cursor: pointer;
  }
}

.jumbotron {
  padding: 0.5rem 0.5rem !important;
  &:hover {
    cursor: pointer;
  }
}
