<div class="container-fluid" *ngIf="board">
  <div class="row sub-header">
    <div class="col-12">
      <h6 class="mb-2 mt-2 text-light">{{ board.name }}</h6>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let list of lists; let i = index" class="col-md-3 col-sm-12">
      <app-list [id]="list.id"></app-list>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="js-add-list list-wrapper mod-add is-idle">
        <button
          class="btn btn-secondary btn-block text-left mb-2"
          (click)="toggleActive()"
          *ngIf="active"
          type="button"
        >
          <i class="fas fa-plus"></i> Add another list
        </button>
        <div class="jumbotron" *ngIf="!active">
          <input
            class="form-control mb-2 p-2 ng-untouched ng-pristine ng-valid"
            name="listName"
            [(ngModel)]="listName"
            placeholder="Enter a title for this list…"
            type="text"
          />
          <button type="button" class="btn btn-success" (click)="addList(board.id, listName)">
            Add List
          </button>
          <button class="btn btn-danger float-right" (click)="toggleActive()">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
