<div class="container-fluid" *ngIf="board">
  <div class="row sub-header pt-2 pb-2">
    <div class="col-12">
      <div class="form-inline float-left mr-1">
        <input
          #boardName
          class="form-control form-control-sm border-0 board-name"
          type="text"
          [(ngModel)]="board.name"
          (keyup.enter)="updateBoard(board.id, board.name)"
        />
      </div>
      <button type="button" class="btn-sm btn-danger" (click)="edit = !edit" [hidden]="edit">
        {{ board.name }}
      </button>
      <button type="button" class="btn-sm btn-danger"><i class="far fa-star text-white"></i></button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let list of lists; let i = index" class="col-md-3 col-sm-12">
      <app-list [id]="list.id" [delete]="delete"></app-list>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="jumbotron shadow">
        <app-add name="list" [id]="board.id" [create]="create"></app-add>
      </div>
    </div>
  </div>
</div>
