<div class="container-fluid" *ngIf="board">
  <div class="row sub-header pt-2 pb-2">
    <div class="col-12">
      <div class="form-inline float-left mr-1">
        <input
          #input
          class="form-control form-control-sm border-0"
          type="text"
          [hidden]="!edit"
          [(ngModel)]="board.name"
          (keyup.enter)="updateBoard(board.id, board.name)"
        />
      </div>
      <button type="button" class="btn-sm btn-danger" (click)="editName(board.name)" [hidden]="edit">
        {{ board.name }}
      </button>
      <button type="button" class="btn-sm btn-danger"><i class="fa fa-star text-white"></i></button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let list of lists; let i = index" class="col-md-3 col-sm-12">
      <app-list [id]="list.id" [deleteList]="deleteList"></app-list>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="js-add-list list-wrapper mod-add is-idle">
        <button class="btn btn-secondary btn-block text-left mb-2" (click)="toggleForm()" *ngIf="form" type="button">
          <i class="fas fa-plus"></i> Add another list
        </button>
        <div class="jumbotron" *ngIf="!form">
          <input
            class="form-control mb-2 p-2 border-0 ng-untouched ng-pristine ng-valid"
            name="listName"
            [(ngModel)]="listName"
            placeholder="Enter a title for this list…"
            type="text"
          />
          <button type="button" class="btn btn-success" (click)="addList(board.id, listName)">
            Add List
          </button>
          <button class="btn btn-danger float-right" (click)="toggleForm()">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
