<div class="bg-light pl-0 pr-0 pt-3 pb-3 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h6 class="mb-0">Manage Account</h6>
      </div>
    </div>
  </div>
</div>

<div class="bg-white pl-0 pr-0 mb-0 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav">
          <a class="nav-link text-danger pl-0 active" href="#">Account</a>
          <a class="nav-link text-secondary pl-0 disable" href="#">Boards</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row mt-5 mb-5">
        <div class="col-md-4">
          <h6 class="text-secondary">Profile</h6>
          <p>Your email address is your identity on Angular Trello and is used to log in.</p>
        </div>
        <div class="col-md-4">
          <app-alert [data]="messageProfileForm"></app-alert>
          <form [formGroup]="profileForm" (ngSubmit)="onSubmitProfileForm(profileForm)">
            <div class="form-group">
              <label>Username</label>
              <input class="form-control" formControlName="username" placeholder="Username" />
              <!-- <p>Your choosen username: {{ profileForm.get('username').value }}</p> -->
              <div *ngIf="profileForm.get('username').hasError('required')">
                Oops, please provide a name!
              </div>
            </div>
            <div class="form-group">
              <label>Email Address</label>
              <input class="form-control" formControlName="email" placeholder="Email" />
              <div *ngIf="profileForm.controls.email.hasError('pattern')">
                Oops, wrong pattern buddy!
              </div>
            </div>
            <button type="submit" class="btn btn-danger" [disabled]="profileForm.invalid">
              Update Profile
            </button>
            <!-- <app-loader [isLoading]="isLoading" class="float-right"></app-loader> -->
          </form>
        </div>
      </div>

      <hr />

      <div class="row mt-5 mb-5">
        <div class="col-md-4">
          <h6 class="text-secondary">Password</h6>
          <p>Changing your password will also reset your API key.</p>
        </div>
        <div class="col-md-4">
          <app-alert [data]="messagePasswordForm"></app-alert>
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPasswordForm(passwordForm)">
            <div class="form-group">
              <label>Current Password</label>
              <input class="form-control" formControlName="password" placeholder="Enter your current password" />
              <div *ngIf="passwordForm.controls.password.errors?.minlength">
                <p class="text-danger">Password must be 8 or more characters.</p>
              </div>
            </div>
            <hr />
            <div class="form-group">
              <label>New Password</label>
              <input class="form-control" formControlName="passwordNew" placeholder="Enter a new password" />
              <div *ngIf="passwordForm.controls.passwordNew.errors?.minlength">
                <p class="text-danger">Password must be 8 or more characters.</p>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm New Password</label>
              <input class="form-control" formControlName="passwordConfrim" placeholder="Enter a new password again" />
              <div *ngIf="passwordForm.controls.passwordConfrim.errors?.minlength">
                <p class="text-danger mb-0">Password must be 8 or more characters.</p>
              </div>
              <p [hidden]="!passwordForm.hasError('mismatch')" class="text-danger " translate>
                Passwords don't match.
              </p>
            </div>
            <button type="submit" class="btn btn-danger" [disabled]="passwordForm.invalid">
              Update Password
            </button>
          </form>
        </div>
      </div>

      <hr />

      <div class="row mt-5 mb-5">
        <div class="col-md-4">
          <h6 class="text-danger">Close Account</h6>
          <p>
            You must delete all apps on this account first. <br />
            <strong>Warning:</strong> Closing your account is irreversible.
          </p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-outline-danger">
            Close this account...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
