@import "src/theme/theme-variables";

.navbar {
  background: #fff;
  padding: 0.625rem 1rem;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:active {
  background: #dc3545;
}
