<div class="container-fluid mt-5 h-100">
  <div class="row">
    <div class="col-sm-3">
      <h5 class="mb-2 text-danger"><i class="fas fa-user-circle mr-2"></i>Personal Boards</h5>
      <div *ngFor="let board of personalBoards; let i = index">
        <div class="jumbotron shadow">
          <div class="d-flex">
            <div class="flex-grow-1 align-self-center">
              <p class="mb-0" *ngIf="board" (click)="goToBoard(board.id)">{{ board.name }}</p>
            </div>
            <div>
              <button type="button" class="btn float-right" (click)="starToggle(board.id)">
                <i class="fas fa-star" *ngIf="board.star"></i>
                <i class="far fa-star" *ngIf="!board.star"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-add name="board" [create]="create"></app-add>
    </div>

    <div class="col-sm-3">
      <h5 class="mb-2 text-danger"><i class="fas fa-columns mr-2"></i>Boards</h5>
      <div *ngFor="let board of boards; let i = index">
        <div class="jumbotron shadow">
          <div class="d-flex">
            <div class="flex-grow-1 align-self-center">
              <p class="mb-0" *ngIf="board" (click)="goToBoard(board.id)">{{ board.name }}</p>
            </div>
            <div>
              <button type="button" class="btn float-right" (click)="starToggle(board.id)">
                <i class="fas fa-star" *ngIf="board.star"></i>
                <i class="far fa-star" *ngIf="!board.star"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3" *ngIf="starredBoards && starredBoards.length">
      <h5 class="mb-2 text-danger"><i class="fas fa-star mr-2"></i>Starred Boards</h5>
      <div *ngFor="let board of starredBoards; let i = index">
        <div class="jumbotron shadow">
          <div class="d-flex">
            <div class="flex-grow-1 align-self-center">
              <p class="mb-0" *ngIf="board" (click)="goToBoard(board.id)">{{ board.name }}</p>
            </div>
            <div>
              <button type="button" class="btn float-right" (click)="starToggle(board.id)">
                <i class="fas fa-star" *ngIf="board.star"></i>
                <i class="far fa-star" *ngIf="!board.star"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3" *ngIf="recentlyBoards && recentlyBoards.length">
      <h5 class="mb-2 text-danger"><i class="fas fa-clock mr-2"></i>Recently Viewed</h5>
      <div *ngFor="let board of recentlyBoards; let i = index">
        <div class="jumbotron shadow">
          <div class="d-flex">
            <div class="flex-grow-1 align-self-center">
              <p class="mb-0" *ngIf="board" (click)="goToBoard(board.id)">{{ board.name }}</p>
            </div>
            <div>
              <button type="button" class="btn float-right" (click)="starToggle(board.id)">
                <i class="fas fa-star" *ngIf="board.star"></i>
                <i class="far fa-star" *ngIf="!board.star"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
