@import "src/theme/theme-variables";

.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.jumbotron {
  background-color: red;
  background-image: url("../../assets/pattern.png");
  // padding: 0.5rem 0.5rem !important;
  min-height: 100px;
  padding: 0.5rem 0.5rem;
  .btn-default:hover {
    background-color: rgba(9, 30, 66, 0.13);
  }
  .fa-ellipsis-h {
    color: #e4606d !important;
  }
  &:hover {
    cursor: pointer;
  }
}

.row {
  margin-top: $spacer;
}
