@import "src/theme/theme-variables";

// .logo {
//   width: 100px;
// }

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.jumbotron {
  // padding: 0.5rem 0.5rem !important;
  padding: 0.5rem 0.5rem;
  height: 80px;
  .btn-default:hover {
    background-color: rgba(9, 30, 66, 0.13);
  }
  .fa-star {
    color: #e4606d !important;
  }
  &:hover {
    cursor: pointer;
  }
}

.row {
  margin-top: $spacer;
}
