<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="mb-0 mt-3"><i class="fas fa-clock mr-2"></i>Recently Viewed</h5>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let board of boards; let i = index" class="col-md-3 col-sm-12">
      <div class="jumbotron shadow">
        <div class="d-flex">
          <div class="flex-grow-1 align-self-center">
            <p class="mb-0 font-weight-bold" *ngIf="board" (click)="goToBoard(board.id)">{{ board.name }}</p>
          </div>
          <div>
            <button type="button" class="btn btn-default float-right" (click)="deleteBoard(board.id)">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h5 class="mb-0"><i class="fas fa-user-circle mr-2"></i>Personal Boards</h5>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let board of boards; let i = index" class="col-md-3 col-sm-12">
      <div class="jumbotron shadow">
        <div class="d-flex">
          <div class="flex-grow-1 align-self-center">
            <p class="mb-0 font-weight-bold" *ngIf="board" (click)="goToBoard(board.id)">{{ board.name }}</p>
          </div>
          <div>
            <button type="button" class="btn btn-default float-right" (click)="deleteBoard(board.id)">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <button class="btn btn-secondary btn-block text-left mb-2" *ngIf="form" (click)="toggleForm()" type="button">
        <i class="fas fa-plus"></i> Add another board
      </button>
      <div class="jumbotron" *ngIf="!form">
        <form>
          <div class="form-group mb-2">
            <input
              type="text"
              #input
              class="form-control p-2 border-0"
              [(ngModel)]="boardName"
              name="boardName"
              placeholder="Enter a title for this board…"
            />
          </div>
          <button type="button" class="btn btn-success" (click)="addBoard(boardName)">
            Add Board
          </button>
          <button class="btn btn-danger float-right" (click)="toggleForm()"><i class="fa fa-times"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
